//* === COLORS === //*/
$color_1: #327EB2;
$color_2: #48B5FF;
$color_3: #94D4FF;
$color_4: #3990CC;
$color_5: #4A6A7F;

$color_6: #6C7F72;
$color_7: #65DE6D;
$color_8: #D8FFE3;
$color_9: #467F57;
$color_10: #ADCCB6;

$color_off-white: #f6f6f6;
$color_light-gray: #e6e6e6;

$color_complementary-1: #B27473;
$color_complementary-2: #FFD8D8;

//* === FONT === //*/
$font-base: 'Source Sans Pro',
sans-serif;
// $font-monospaced: 'Titillium Web', sans-serif;
//* === TRANSITIONS === //*/
$transition-fastest: .1s ease-out;
$transition-fast: .2s ease-out;
$transition-normal: .5s ease-out;


//* === SPACING === //*/
$gap-small: .5em;
$gap-medium: 1em;
$gap-large: 1.5em;

$page-top: 1rem;
$break-small: 23em;
$break-medium: 61em;
$break-large: 80em;

$wrap-margin: 1rem;
$navbar-width: 6rem;
$navbar-height: 3rem;


/* === FONTASTIC === */

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/_fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
	url('/_fonts/sourcesanspro-extralight-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/_fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
	url('/_fonts/sourcesanspro-light-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/_fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
	url('/_fonts/sourcesanspro-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	width: 100%;
	height: auto;
	font-size: 1.5em;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: $font-base;
	font-weight: 100;
	overflow-x: hidden;
}

 .top-level-content
 {
     height: auto;
     display: flex;
     flex-direction: column;


     &#navbar-wrapper
     {
     	// flex-basis: $navbar-width;
     	z-index: 1000;
     	// flex: 1 0 $navbar-width;

     	#navbar
     	{
	     	background: #e6e6e6;
     		padding: .5rem .5rem .5rem .75rem;
     		position: fixed;

     	}
     	.navbar-content
     	{
     		// font-size: .95rem;
     		font-weight: 200;
     		// font-family: $font-base;

     		a
     		{
     			font-weight: inherit;
     		}
			&.internal-links li a:hover, &.internal-links li a:focus
			{
				border-bottom: solid 2px;
			    // border-radius: 3px;
			}
     		&.external-links
			{
				font-size: .75rem;

			}
     	}
     }
     &#page
     {
     	width: 100%;
     }
 }
 



// Switch between horizontal menu at small screen sizes and vertical( sidebar ) menu at larger sizes
@media screen and (max-width: 799px)
{
	.top-level-content#navbar-wrapper
	{
		flex: 0 0 $navbar-height;
		// flex-basis: $navbar-height;
		transition: flex-basis .5s ease-in-out, background .25s;
		flex-wrap: nowrap;


		&.collapsed
		{
			// transform: translateX(-100%);
			flex-basis: .75rem;
		}

	}

	#navbar
	{
		display: inline-flex;
		flex-wrap: nowrap;
		flex: 0 0 $navbar-height;
		width: 100vw;
		transition: transform .5s ease-in-out;

		// height: $navbar-height;
	}

	#navbar-collapser
	{
		width: 100%;
		position: fixed;
		height: .5rem;
		top: 3rem;
		background: #c3c3c3;
		z-index: 1;
		transition: transform .5s ease-in-out, height .5s ease-in-out, background .25s;
		
		&:hover
		{
			background: darken(#c3c3c3, 10%  );
			cursor: pointer;
		}
	}

	#navbar-wrapper #navbar-collapser.collapsed + #navbar
	{
		// width: 0;
		transform: translateY(-100%);
	}
	#navbar-collapser.collapsed
	{
		height: .75rem;
		transform: translateY(-3rem);
	}
		#navbar-collapser.collapsed::after
		{
			// content: ">";
		}

	.navbar-content
	{

		// line-height: 2rem;

		a
		{
			font-weight: 200;
		}

		&.internal-links
		{
			li #site-logo
			{
				height: 2rem !important;
				width: 2rem !important;
			}
			li
			{
				// padding: 0 1em;
				// flex-basis: 1em;
			}
			flex: 1;
			display: inline-flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: nowrap;


		}
		&.external-links
		{
			margin-left: auto;
			flex: 0 1 auto;
			line-height: 1.25em;
			// text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: flex-end;
			margin-right: .5rem;
			margin-left: 10vw;
			li
			{
				text-align: right;
			}
		}

		li
		{
			// display: inline;
		}
	}

}
@media screen and (min-width: 800px)
{
	body
	{
		flex-direction: row;
	}

	.top-level-content#navbar-wrapper
	{
		flex: 0 0 $navbar-width;
		position: relative;
		transition: flex-basis .5s ease-in-out, background .25s;

		&.collapsed
		{
			// transform: translateX(-100%);
			flex-basis: .75rem;
		}

	}

	#navbar
	{
		overflow-y: auto;
		height: 100vh;
		width: $navbar-width;
		display: flex;
		flex-direction: column;
		transition: transform .5s ease-in-out;

	}

	#navbar-collapser
	{
		height: 100%;
		position: absolute;
		width: .5rem;
		right: 0;
		background: #c3c3c3;
		z-index: 1;
		transition: transform .5s ease-in-out, width .5s ease-in-out, background .25s;

		&:hover
		{
			background: darken(#c3c3c3, 10%  );
			cursor: pointer;
		}
	}

	#navbar-wrapper #navbar-collapser.collapsed + #navbar
	{
		// width: 0;
		transform: translateX(-100%);
	}
	#navbar-collapser.collapsed
	{
		width: .75rem;
		// transform: translateX(-5.5rem);
	}
	#navbar-collapser.collapsed::after
	{
		// content: ">";
		// height: 100vh;
	}


	.top-level-content .navbar-content
	{
		line-height: 2em;

		&.external-links
		{
			margin-top: auto;
		}
	}
}



.wrap
{
	margin: 0 $wrap-margin 0 $wrap-margin;
	position: relative;
}

.primary-content
{
	max-width: 32rem;
	margin-left: auto;
	margin-right: auto;

	header &
	{
		display: none;
		max-width: 40rem;
	}

	footer &
	{
		max-width: 40rem;
	}
}



#intro {
	text-align: center;
    min-height: 20em;
    min-height: 80vh;
    max-height: 1000px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	// padding-left: 1.5em;
	// margin-bottom: $gap-small; // min-height: 100vh;
	// display: flex;
	// flex: 1 1 20em;
	// flex-direction: column;
	// justify-content: center;

	p {
		// font-size: 1.25em;
	}

	#slide-in-1 {
		position: relative;
		transform: translateX( 100vw);
		margin: .67rem 0 .67rem 0;
		// padding: .67em 0;
		line-height: 1;

			transition: $transition-normal 1s;
		@media screen and ( min-width: 640px) {
		}
	}

	#slide-in-2 {
		font-weight: 400;
		// color: $color_4;
		position: relative;
		transform: translateX( -100vw);
		margin: .67rem 0 .67rem 0;
		// padding: 1em 0;
			transition: $transition-normal 1.5s;

		@media screen and ( min-width: 640px) {
		}
	}

	#slide-in-3 {
		// transition: $transition-normal;
		position: relative;
		transform: translateX( 100vw);
		margin: .67rem 0 .67rem 0;
			transition: $transition-normal 1.75s;

		@media screen and ( min-width: 640px) {
		}
	}

	.slide-from-left {
		transform: initial !important;
	}

	.slide-from-right {
		transform: initial !important;
	}
}
@keyframes slideUp
{
	0% {
		transform: translateY(100vh);
		opacity: 0;
	}
	50%{
		transform: translateY(-4vh);
		opacity:1;
	}
	65%{
		transform: translateY(4vh);
	}
	80%{
		transform: translateY(-2vh);
	}
	95%{
		transform: translateY(1vh);
	}			
	100% {
		transform: translateY(0vh);
	}	
}

#hero-button
{
	margin-top: 1rem;
	&.slideUp{
	animation-name: slideUp;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 2.5s;
	animation-fill-mode: backwards;
}
}

#projects
{

	text-align: center;
	padding-top: 4rem;

}
.project-type
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#project-1
{
	.project-type
	{
		margin-right: 1em;
	}
	#google-chrome-logo
	{
		margin-right: .5em;
		transition: all .5s ease-in-out;

		&:hover {
			transform: rotate(359deg) scale(1.25);
		}
	}

}

.scroll-on {
		position: absolute;
		align-self: flex-end;
		width: 100%;
		margin-top: 0;
		left: 0;
		text-align: center;
		height: 5em;
		display: flex;
		align-content: center;
		align-items: flex-end;
		justify-content: center;

		.contents {
			border: solid gray 1px;
			padding: .25em .5em;
		}
	}

footer {
	margin-top: 6rem;
	padding-top: 4rem;
	font-size: .75rem;
	// background: $color_7;
	// border-top: solid lighten( $color_7, 10%) 1px;
	.primary-content {
		padding:0 .5em 1em .5em;

	}

	#attribution-content {
		transition: max-height 1s linear, opacity 1s ease-in-out;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		margin-left: 1em;
	}
	#attribution-heading.active {
		#attribution-expando {
			transform: rotate(90deg) translate3d( 0, 0, 1px);
			-moz-transform: rotate(90deg) translate3d( 0, 0, 1px);
		}

		&~#attribution-content {
			opacity: 1;
			max-height: 500px;
			z-index: unset;
		}
	}

	#attribution-heading {
		font-size: 1em;
		font-weight: 300;
		display: inline-flex;
		margin-bottom: 0;
		// margin-left: .5em;
		#attribution-expando {
			transition: $transition-fastest;
			margin-right: .5em;
			display: inline-block;
			width: 0;
			border-style: solid;
			border-width: .5em 0 .5em .5em;
			border-color: transparent transparent transparent $color_2;
			border-radius: .25em;
		}

		&:hover, &:focus {
			cursor: pointer;

			#attribution-expando {
				border-color: transparent transparent transparent darken($color_2, 20%);
			}
		}
	}

	#copyright {
		text-align: center;
	}

	.horizontal-rule {
		margin: 1em 0;
		border: solid #e6e6e6 1px;
		border-radius: 2px;
		display: inline-block;
		width: 100%;
	}

	.site-source {
		font-size: 1.25em;
		font-family: Times New Roman;
		cursor: pointer;
		float: right;
	}

	@media screen and ( max-width: 580px)
	{
		.wrap
		{
			margin-left: .5rem;
			margin-right: .5rem;
		}
	}
}

#primary-links {

	margin-top: $page-top; // margin-right: $gap-small;
	flex: 0 1 100%; // min-width: 17em;
	align-self: center;
	padding: $gap-large; // #eye-left
	.primary-link-label {
		padding-bottom: .25em;
		border-bottom: dashed black 2px;
		justify-content: space-between;
		align-items: flex-end;
		display: inline-flex; // margin-left: 1em;
		width: 100%;
		transition: $transition-normal; // opacity:0;
		color: #000;

		.contents {
			transition: $transition-fastest;
		}
	}

	a:hover .primary-link-label {
		border-bottom: dashed $color_2 2px;
	}

	a .primary-link-label {
		transition: $transition-fastest;
	}

	ul {
		height: 100%;
		list-style-type: none;
		padding: 0; // line-height: 1.5em;
		display: flex;
		flex-direction: column; // flex-wrap: wrap;
		// justify-content: space-around;
		// align-items: center;
		// margin: 0 -$gap-small;
		margin: 0;

		li {
			flex: 0 1 auto;
			padding-top: 1em; // padding: 0 $gap-small;
			a {
				transition: $transition-fastest; // font-size: 1.25em;
				font-weight: 200;
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;

				&:hover .contents {
					// transition: $transition-fastest;
					color: $color_2;
				}

				&#icon_github:hover svg path,
				&#icon_linkedin:hover svg path {
					stroke: $color_2;
				}
				&#icon_contact-me:hover svg,
				&#icon_resume:hover svg {
					fill: $color_2;
				}
			}

			#icon_github svg {
				transition: .5s ease-in-out 2.5s;

				&.peek:not(.scrolled) {
					transform: translateY(-4.6em);
				}

				&.scrolled {
					transition: .5s ease-in-out;
				}
			}
			#icon_contact-me svg {
				margin-bottom: -.5em;
			}
		}
	}

	svg {
		transition: $transition-fastest;
		width: 4em;
		height: 4em;
		flex: 0 1 auto;

		path {
			transition: $transition-fastest;
		}
	}
}

p {
	// font-size: 1.5em;
	font-weight: 100;
}

ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
}
h1 {
	font-weight: 100;
	font-size: 2.5em;
}

h2 {
	font-weight: 200; // font-size: 2.5em;
}

h3 {
	font-weight: 200; // font-size: 2.5em;
}

.button {
	text-align: center;
	transition: background $transition-fastest;
	font-size: 1rem;
	font-family: inherit; // font-weight: 100;
	background: #FFF;
	border: solid $color_light-gray;
	border-radius: 1em;
	padding: .25em .5em;
	// white-space: nowrap;

	&:hover,&:focus
	{
		background: $color_light-gray;
	}
}

.button-group
{
	display: inline-flex;
	// width: 100%;
	.button:nth-child(1)
	{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right-width: 1px;

	}
	.button:nth-child(2)
	{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left-width: 1px;
	}

	.button
	{
	    flex: 1 1 auto;
	}
	
	@media screen and ( max-width: 580px)
	{
		margin-left: -$wrap-margin;
		width: 100vw;
		.button:nth-child(1)
		{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;

		}
		.button:nth-child(2)
		{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}

	}
}

a{
	cursor: pointer;
	color: $color-4;
	text-decoration: none;
	font-weight: 400;
	transition: $transition-fastest;

	&:hover, &:focus {
		color: lighten( $color-4, 20%); // text-shadow: 2px 2px 6px rgba(115, 150, 150, 0.6);;
	}
}

#about-me
{
	.primary-content
	{
		padding-top: 20vh;
		max-width: 40rem;
	}


	li
	{
		margin: .5rem 0;
	}

	h2, h3
	{
		text-align: center;
	}
	h2
	{
		margin-top: 20vh;
	}

	.fullpage-background
	{
	    // background: url(/_images/pasture.jpg);
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    z-index: -5;

	    .primary-content
	    {
	    	max-width: 40rem;
	    	// background: white;
	    	height: 100%;
	    	width: 100%;
	    }
	}
}