</html>
{{#> base title="Contact Devin" }}

    {{#*inline "main-block"}}
        <div id="body" class="top-level">
            <div class="primary-content">
                <a href="mailto:hello@devindodson.com">Email me directly,</a> or send an anonymized message through the contact form below:
            </div>
        </div>
    {{/inline}}

    {{#*inline "attributions-block"}}

        {{#> includes/attributions }}
        {{#*inline "attribution-content-block"}}
                    <p>Site logo was designed by me using the free and open-source vector editing program <a href="https://inkscape.org" target="_blank">Inkscape</a></p>
                    <p>Favicon help from <a href="http://realfavicongenerator.net" target="_blank">realfavicongenerator.net</a></p>
        {{/inline}}
        {{/includes/attributions}}

    {{/inline}}

{{/base}}