<div id="attributions">
	<h2 id="attribution-heading"><span id="attribution-expando"></span>Attributions</h2>
	<div id="attribution-content" class="container">
		{{#> attribution-content-block}}
		{{/attribution-content-block}}
	</div>
</div>