{{!-- Layout base --}}
<!doctype html>
<html lang="en">

<head>
	<title>
		{{#if title}}
			{{title}}
		{{else}}
			{{!-- default title --}}
		{{/if}}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/_styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="/_styles/styles.css">
	<script src="/_scripts/template.js" async></script>

	{{#> head-block}}
	       {{!-- Custom <head> content per page could be added. --}}
	{{/head-block}}

</head>

<body>

	{{#> main-block}}
	{{!-- Main content goes here. --}}
	{{/main-block}}

	<footer id="footer" class="top-level">
		<div class="primary-content">

			{{#> attributions-block }}
			{{/attributions-block }}

		<a class="site-source" href="{{hbData.mySiteURL}}" title="Site source code available on Github" target="_blank">&lt;/&gt;
        </a>
		<div class="horizontal-rule">
		</div>
		<div id="copyright">Copyright © <span id="current-year">2017</span> - Devin Dodson - All Rights Reserved</div>
		</div>
	</footer>

</body>

</html>