{{#> base title="About Devin" }}
	{{#*inline "main-block"}}
        <div id="body" class="top-level">
            <div class="primary-content">
            I'm a guy who has done these things:
            	<ol>
            	<li>Had a child before the age of 21.</li>
            	<li>Realized that probably wasn't the best way to go.</li>
            	<li>Moved back in with the parents to finish out college ( dual degree in Computer Science and Math ) and single-dad it up.</li>
            	<li>Slowly figured out that I like to create things, and that software and web development is a great outlet for that.</li>
            	</ol>

            <p>I've worked with a lot of languages and platforms ( Java, C#, Python, ASP.NET MVC,  , but lately I keep coming back to web development -- I enjoy the ability to create an entire product from the back-end to the front, and web technologies enable me to do just that.</p>

            <p>I'm capable of building a site from the ground up with HTML, CSS, and JavaScript, but I'd prefer to use a build system thankYouVeryMuch. This particular site was built with Gulp, written using SASS and Handlebars, and finished with a dusting of Autoprefixer for automagical vendor-prefix goodness.</p>

            <p>I'm not as good at talking myself up as a lot of the people on The Internet, but I think I'm pretty okay. If you'd like to chat for any reason, feel free to contact me. </p>
            </div>
        </div>
    {{/inline}}

    {{#*inline "attributions-block"}}
        {{#> includes/attributions }}
        {{#*inline "attribution-content-block"}}
                    <p>Site logo was designed by me using the free and open-source vector editing program <a href="https://inkscape.org" target="_blank">Inkscape</a></p>
                    <p>Favicon help from <a href="http://realfavicongenerator.net" target="_blank">realfavicongenerator.net</a></p>
        {{/inline}}
        {{/includes/attributions}}
    {{/inline}}

{{/base}}