{{#> base title="About Devin" }}
	{{#*inline "main-block"}}
        <div id="body" class="top-level">
            <div class="primary-content">
                <p><strong>I'm a person who has done these things:</strong></p>
                <ol>
                    <li>Had a child before the age of 21.</li>
                    <li>Realized that probably wasn't the best way to go.</li>
                    <li>Moved back in with the parents to finish out college ( dual degree in Computer Science and Math ) and single-dad it up.</li>
                    <li>Slowly figured out that I like to create things and to tinker with new, fun technologies — and that web/software development is a great outlet for that.</li>
                </ol>

                <h2> Business Guy</h2>
                <p>I've worked with a decent number of languages and platforms ( Java, C#, Python, ASP.NET MVC, SQL, and probably some more ), but I've found myself coming back to the web stack the most — I enjoy the ability to create an entire product from top to bottom, and web technologies enable me to do just that. And thanks to amazing toys like Node, it's now possible to expand HTML, CSS, and JavaScript to the realm of mobile and desktop apps if I so desire.</p>
                <p>I'm capable of building a site from the ground up with HTML, CSS, and JavaScript, but I'd prefer to use a build system thankYouVeryMuch. <a href="{{hbData.mySiteURL}}" target="_blank">The site you're looking at now</a> is built with Gulp, written using SASS and Handlebars, and finished with a dusting of Autoprefixer for automagical vendor-prefix goodness.</p>
                <p>Having said all that, it's also worth noting that I try not to be too precious about the tools I use to get the job done, up to and including what languages I use to tackle it.</p>
                <h2>Entertainment Man</h2>
                <p>When I'm not working or Dad-ing, you might find me chipping away at Breath of the Wild or listening to podcasts; which I pretty much cram into every bit of free time I can manage. Currently, I'm binging my way through a backlog of the fantastic comedy Dungeons & Dragons experience <a href="http://www.maximumfun.org/shows/adventure-zone" target="_blank" >"The Adventure Zone"</a>.
                </p>
            </div>
        </div>
    {{/inline}}

    {{#*inline "attributions-block"}}
        {{#> includes/attributions }}
            {{#*inline "attribution-content-block"}}
                <p>Site logo was designed by me using the free and open-source vector editing program <a href="https://inkscape.org" target="_blank">Inkscape</a></p>
                <p>Favicon help from <a href="http://realfavicongenerator.net" target="_blank">realfavicongenerator.net</a></p>
            {{/inline}}
        {{/includes/attributions}}
    {{/inline}}

{{/base}}