{{#> baseTest title="Devin's Emporium of Wonder" }}

    {{#* inline "head-block"}}
        <meta name="description" content="The personal site of web developer Devin Dodson. Enter, and be intrigued!">
        <script src="/_scripts/homepage.js" async></script>
        <script type="text/javascript" src="/_scripts/_lib/smoothscroll.js"></script>
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://devindodson.com/",
            "email": "hello@devindodson.com",
            "logo": "http://devindodson.com/icon/android-chrome-512x512.png",
            "sameAs": [
                "https://www.linkedin.com/in/devin-dodson-0b891698/",
                "https://github.com/trambopoline"
            ]
        }
        </script>
    {{/inline}}

    {{#*inline "main-block"}}
        <header>
            <div class="wrap"><section class="primary-content">
                    {{> includes/svg_site-logo }}</section></div>
        </header>
        <div class="wrap">
            <main class="primary-content">
                    <section id="intro">
                        <h1 id="slide-in-1">Well, hello!</h1>
                        <p id="slide-in-2">I'm Devin.</p>
                        <p id="slide-in-3">I'm just a web developer in search of things to develop on the web.</p>
                        <a href="#projects" id="hero-button" class="slideUp button">View some of my work</a>
                    </section>
                    <section id="projects">
                        <div id="project-1">
                            <h2>New Domain in New Tab</h2>
                            <h3 class="project-type">{{> includes/svg_chrome }}Chrome Extension</h3>
                            <p>Automatically open off-site links in a new tab. Configurable.</p>
                            <div class="button-group">
                                <a class="button" href="https://chrome.google.com/webstore/detail/new-domain-in-new-tab/nokdeeoiaiicgnonknihiccadnnmpeoh" target="_blank">Get it from the Web Store</a>
                                <a class="button" href="https://github.com/trambopoline/new-domain-in-new-tab" target="_blank">Check out the source</a>
                            </div>
                        </div>
                    </section>
                    <div class="full-width-background">
                    </div>
                {{!--
                <div id="primary-links" class="container">
                    <ul>
                        <li>
                            <a id="icon_github" href="https://github.com/trambopoline" target="_blank">
                                <div class="primary-link-label">
                                    {{> includes/svg_github }}
                                    <span class="contents">GitHub</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a id="icon_linkedin" href="https://www.linkedin.com/in/devin-dodson-0b891698/" target="_blank">
                                <div class="primary-link-label">
                                    {{> includes/svg_linkedIn }}
                                    <span class="contents">LinkedIn</span></div>
                            </a>
                        </li>
                        <li>
                            <a id="icon_contact-me" href="mailto:hello@devindodson.com">
                                <div class="primary-link-label">
                                    {{> includes/svg_contact-me }}
                                    <span class="contents">Contact Me</span></div>
                            </a>
                        </li>
                        <li>
                            <a id="icon_resume" href="resume/Devin-Dodson-resume.pdf" target="_blank">
                                <div class="primary-link-label">
                                    {{> includes/svg_resume }}
                                    <span class="contents">Résumé</span></div>
                            </a>
                        </li>
                    </ul>
                </div>--}}
            </main>
        </div>
    {{/inline}}

    {{#*inline "attributions-block"}}
        {{#> includes/attributions }}
            {{#*inline "attribution-content-block"}}
                <p>All icons are from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a>, and are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">Creative Commons 3.0</a></p>
                <ul>
                    <li>GitHub Octocat face by <a href="https://www.flaticon.com/authors/darius-dan" title="Swifticons" target="_blank">Swifticons</a>
                    </li>
                    <li>GitHub Octocat body by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a>
                    </li>
                    <li>"Contact me" icon by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar" target="_blank">Gregor Cresnar</a></li>
                    <li>LinkedIn icon by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a></li>
                    <li>Résumé icon by <a href="https://www.flaticon.com/authors/becris" title="Becris" target="_blank">Becris</a>
                    <li>Chrome logo by <a href="https://www.flaticon.com/authors/madebyoliver" title="Madebyoliver" target="_blank">Madebyoliver</a>
                    </li>
                </ul>
                <p>Site logo was designed by me using the free and open-source vector editing program <a href="https://inkscape.org" target="_blank">Inkscape</a></p>
                <p>Favicon help from <a href="http://realfavicongenerator.net" target="_blank">realfavicongenerator.net</a></p>
            {{/inline}}
        {{/includes/attributions}}
    {{/inline}}

{{/baseTest}}